@use "../globals/base" as *;

.chip {
  color: #fff;
  border: none;
  height: 32px;
  display: inline-flex;
  outline: 0;
  padding: 0;
  font-size: 0.8125rem;
  font-family: 'Avenir Next', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  align-items: center;
  white-space: nowrap;
  border-radius: 16px;
  vertical-align: middle;
  justify-content: center;
  text-decoration: none;
  background-color: $secondary-color;
  margin: 2px 6px 2px 0;

  &:hover {
    background-color: #259a74;
  }

  &.active {
    background-color: #bf2d99;

    &:hover {
      background-color: #9c257d;
    }
  }

  &.button {
    cursor: pointer;
  }

  &__label {
    overflow: hidden;
    white-space: nowrap;
    padding-left: 12px;
    padding-right: 12px;
    text-overflow: ellipsis;
  }
}
