@use "../globals/base" as *;

.content {
  text-align: center;
  padding: 50px 0;

  &.centered {
    padding: 0;
  }
}

.title {
  text-align: left;
  margin-bottom: 25px;

  .#{$dark-class} & {
    color: white;
  }
}

.date {
  text-align: left;
  margin-bottom: 15px;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.7);

  .#{$dark-class} & {
    color: white;
  }
}

.centered {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 0;
  margin-top: -50px;

  .title {
    text-align: center;
  }
}

@media all and (min-width: $width-max) {
  .content {
    max-width: $width-max - 50px;
    width: $width-max - 50px;
  }
}

@media all and (min-width: $width-xlarge) and (max-width: ($width-max - 1px)) {
  .content {
    max-width: $width-xlarge - 50px;
    width: $width-xlarge - 50px;
  }
}

@media all and (min-width: $width-xlarge) {
  .content {
    margin-left: auto;
    margin-right: auto;
  }

  .content.centered {
    padding: 0;
  }
}

@media all and (max-width: ($width-xlarge - 1px)) {
  .content {
    padding: 50px 20px 0;

    &.centered {
      padding: 0 20px;
    }
  }
}
