@use "../globals/base" as *;

.recipe {
  text-align: left;
  width: 100%;
  display: inline-block;
  margin-bottom: 40px;
  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity 0.6s ease-out,
    transform 0.6s ease-out;

  &.fade-in {
    opacity: 1;
    transform: translateY(0);
  }

  &__link {
    overflow: hidden;
    display: block;
    margin-bottom: 10px;
    max-height: 300px;
    border-radius: 8px;
  }

  &__image {
    transition: all 0.2s ease-out;
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 300px;
    display: block;

    &:hover {
      transition: all 0.2s ease-out;
      transform: scale(1.1);
    }
  }

  &__title {
    color: $primary-color;
    margin-bottom: 10px;
  }

  &__note-icon {
    // Just basic icon alignment
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
    cursor: pointer;
  }

  &__body {
    &__buttons {
      display: flex;
      margin-left: -10px;
      margin-right: -10px;
    }
  }
}
